<template id='item-list-template'>
<div>
    <h3 v-if='typeof title!="undefined"' :tt='title'></h3>
    <div style='display:flex;flex-direction:row;'>
        <div>
            <table class='table table-condensed' style='width:auto;min-width:33rem;'>
                <tbody>
                    <tr>
                        <td nowrap tt='filter_images'></td>
                        <td>
                            <label><input type='radio' v-model='filter_images' @change='onFilterChange' value='any'> <span tt='any'></span></label>
                            <label><input type='radio' v-model='filter_images' @change='onFilterChange' value='yes'> <span tt='yes'></span></label>
                            <label><input type='radio' v-model='filter_images' @change='onFilterChange' value='no'> <span tt='no'></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap tt='filter_sitelinks'></td>
                        <td>
                            <label><input type='radio' v-model='filter_sitelinks' @change='onFilterChange' value='any'> <span tt='any'></span></label>
                            <label><input type='radio' v-model='filter_sitelinks' @change='onFilterChange' value='yes'> <span tt='yes'></span></label>
                            <label><input type='radio' v-model='filter_sitelinks' @change='onFilterChange' value='no'> <span tt='no'></span></label>
                        </td>
                    </tr>
                    <tr v-if='settings.key!="people"'>
                        <td nowrap tt='filter_io_sc'></td>
                        <td>
                            <label><input type='radio' v-model='filter_io_sc' @change='onFilterChange' value='any'> <span tt='any'></span></label>
                            <label><input type='radio' v-model='filter_io_sc' @change='onFilterChange' value='yes'> <span tt='yes'></span></label>
                            <label><input type='radio' v-model='filter_io_sc' @change='onFilterChange' value='no'> <span tt='no'></span></label>
                        </td>
                    </tr>
                    <tr v-if='settings.key=="locations"'>
                        <td nowrap tt='filter_p131'></td>
                        <td>
                            <label><input type='radio' v-model='filter_p131' @change='onFilterChange' value='any'> <span tt='any'></span></label>
                            <label><input type='radio' v-model='filter_p131' @change='onFilterChange' value='yes'> <span tt='yes'></span></label>
                            <label><input type='radio' v-model='filter_p131' @change='onFilterChange' value='no'> <span tt='no'></span></label>
                        </td>
                    </tr>
                    <tr v-if='settings.filter_coordinates'>
                        <td nowrap tt='filter_coordinates'></td>
                        <td>
                            <label><input type='radio' v-model='filter_coordinates' @change='onFilterChange' value='any'> <span tt='any'></span></label>
                            <label><input type='radio' v-model='filter_coordinates' @change='onFilterChange' value='yes'> <span tt='yes'></span></label>
                            <label><input type='radio' v-model='filter_coordinates' @change='onFilterChange' value='no'> <span tt='no'></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap tt='filter_label'></td>
                        <td style='width:100%;'>
                            <input type='text' v-model='filter_label' @keyup='onFilterChange' tt_placeholder='regexp_pattern' style='width:100%' />
                        </td>
                    </tr>
                    <tr v-if='io_sc.length>1'>
                        <td nowrap tt='io_sc'></td>
                        <td>
                            <select v-model='filter_io_sc_select' @change='onFilterChange' class='form-control' style='font-size:10pt;'>
                                <option value='' tt='any' selected></option>
                                <option v-for='q in io_sc' :value='q'>
                                    {{getItemLabel(q)}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style='margin-left:2rem;padding-left:1rem;border-left:3px solid #EEE;'>
            <div v-if='typeof settings.sparql!="undefined"'>
                <div><a :href='findMissingImagesURL()' target='_blank' tt='find_images'></a></div>
                <div><a :href='sparqlRecentChangesUrl()' target='_blank' tt='sparql_rc'></a></div>
                <div><a :href='terminatorUrl()' target='_blank' tt='terminator'></a></div>
                <div v-if='typeof settings.tabernacle_props!="undefined"'>
                    <a :href='tabernacleURL()' target='_blank' tt='tabernacle'></a>
                </div>
                <div><a :href='petscanURL()' target='_blank' tt='petscan'></a></div>
            </div>
            <div v-if='use_items.length<items.length'>
                <form method='post' target='_blank' action='https://petscan.wmflabs.org/' ref='petscan'>
                    <input type='hidden' name='manual_list' :value='use_items.join("\n")' />
                    <input type='hidden' name='manual_list_wiki' value='wikidatawiki' />
                    <input type='hidden' name='active_tab' value='tab_other_sources' />
                    <input type='hidden' name='doit' value='' />
                    <a href="#" v-on:click="petscan_submit" tt='petscan_filtered'></a>
                </form>
                <!-- https://petscan.wmflabs.org/?language=en&project=wikipedia&ns%5B0%5D=1&&interface_language=en -->
            </div>
            <div v-if='items.length!=use_items.length' tt='showing_subset' :tt1='use_items.length' :tt2='items.length'></div>
        </div>
    </div>
    <div style='max-height:40rem;overflow-y:auto;'>
        <table class='table table-condensed'>
            <thead>
                <tr>
                    <th nowrap tt='image'></th>
                    <th nowrap tt='item'></th>
                    <th nowrap v-if='settings.key=="people"' tt='born_in'></th>
                    <th nowrap v-if='settings.key=="people"' tt='died_in'></th>
                    <th nowrap v-if='settings.show_p31' tt='instance_of'></th>
                    <th nowrap v-if='settings.show_p131' tt='in_admin_unit'></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='q in use_items' v-if='typeof i(q)!="undefined"' :key='"use_items_"+q'>
                    <td style='min-width:90px;text-align:center;'>
                        <div v-if='all_items[q].has_image'>
                            <a :href='"https://commons.wikimedia.org/wiki/File:"+encodeURIComponent(all_items[q].image)' target='_blank'>
                                <clazy-load :src='all_items[q].image_url(64)'>
                                    <img :src='all_items[q].image_url(64)' border=0 />
                                </clazy-load>
                            </a>
                        </div>
                    </td>
                    <td style='width:100%'>
                        <div>
                            <a class='wikidata' :href="'https://www.wikidata.org/wiki/'+q" target='_blank'>{{i(q).getLabel()}}</a>
                            <small>[{{q}}]</small>
                        </div>
                        <div>{{i(q).desc}}</div>
                    </td>
                    <td nowrap v-if='settings.key=="people"'><div v-for='q2 in i(q).getClaimItemsForProperty("P19",true)'><wd-link :item='q2'></wd-link></div></td>
                    <td nowrap v-if='settings.key=="people"'><div v-for='q2 in i(q).getClaimItemsForProperty("P20",true)'><wd-link :item='q2'></wd-link></div></td>
                    <td nowrap v-if='settings.show_p31'>
                        <div v-for='q2 in i(q).getClaimItemsForProperty("P31",true)'><wd-link :item='q2'></wd-link></div>
                        <div v-for='q2 in i(q).getClaimItemsForProperty("P279",true)'><wd-link :item='q2'></wd-link></div>
                    </td>
                    <td nowrap v-if='settings.show_p131'><div v-for='q2 in i(q).getClaimItemsForProperty("P131",true)'><wd-link :item='q2'></wd-link></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'item-list' , {
    template : '#item-list-template' ,
    props : [ 'items' , 'title' , 'all_items' , 'settings' ] ,
    data : function () { return { filter_images:'any' , filter_p131:'any' , filter_coordinates:'any' , filter_sitelinks:'any' , filter_io_sc:'any' , filter_label:'' , filter_io_sc_select:'' , use_items:[] , io_sc:[] } } ,
    created : function () {
        this.createInstanceSubclassList() ;
        this.filterItems() ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        i : function ( q ) {
            return wd.getItem(q) ;
        } ,
        createInstanceSubclassList : function () {
            let me = this ;
            let io_sc = {} ;
            $.each ( me.items , function ( dummy , q ) {
                let i = wd.getItem(q) ;
                if ( typeof i == 'undefined' ) return ;
                $.each ( i.getClaimItemsForProperty('P31',true) , function ( dummy , q2 ) { io_sc[q2] = q2 ;} ) ;
                $.each ( i.getClaimItemsForProperty('P279',true) , function ( dummy , q2 ) { io_sc[q2] = q2 ;} ) ;
            } ) ;
            io_sc = Object.keys(io_sc) ;
            io_sc = io_sc.sort ( function (q1,q2) {
                let l1 = me.getItemLabel(q1).toLowerCase() ;
                let l2 = me.getItemLabel(q2).toLowerCase() ;
                if ( l1 < l2 ) return -1 ;
                return 1 ;
            } ) ;
            me.io_sc = io_sc ;
        } ,
        findMissingImagesURL : function () {
            let me = this ;
            let sparql = me.settings.sparql ;
            var url = "https://tools.wmflabs.org/fist/wdfist/index.html?sparql=" ;
            url += encodeURIComponent ( sparql ) ;
            url += '&no_images_only=1&remove_multiple=1&prefilled=1' ; // &search_by_coordinates=1
            return url ;
        } ,
        tabernacleURL : function () {
            let me = this ;
            let url = "https://tools.wmflabs.org/tabernacle/#/tab/sparql/" ;
            url += encodeURIComponent(me.settings.sparql) ;
            url += "/Len%3BDen%3B" ;
            url += encodeURIComponent(me.settings.tabernacle_props.join(";")) ;
            return url ;
        } ,
        sparqlRecentChangesUrl : function () {
            let me = this ;
            let url = 'https://tools.wmflabs.org/wikidata-todo/sparql_rc.php?start=last+week&sort_mode=last_edit&skip_unchanged=1&sparql=' ;
            url += encodeURIComponent(me.settings.sparql) ;
            return url ;
        } ,
        petscanURL : function () {
            let me = this ;
            let url = 'http://petscan.wmflabs.org/?language=en&project=wikipedia&ns%5B0%5D=1&sparql=' ;
            url += encodeURIComponent(me.settings.sparql) ;
            url += '&search_max_results=500&interface_language=en&active_tab=tab_other_sources' ;
            url += '&doit=' ;
            return url ;
        } ,
        terminatorUrl : function () {
            let me = this ;
            let url = 'https://tools.wmflabs.org/wikidata-terminator/#/top/labels/en?sparql=' ;
            url += encodeURIComponent(me.settings.sparql) ;
            return url ;
        } ,
        petscan_submit : function () {
            this.$refs.petscan.submit()
        } ,
        filterItems : function () {
            let me = this ;
            let filtered_items = [] ;
            $.each ( me.items , function ( dummy , q ) {
                if ( typeof me.all_items[q] == 'undefined' ) return ; // Paranoia

                if ( me.filter_images == 'yes' && !me.all_items[q].has_image ) return ;
                if ( me.filter_images == 'no' && me.all_items[q].has_image ) return ;

                if ( me.filter_p131 == 'yes' && !me.all_items[q].has_p131 ) return ;
                if ( me.filter_p131 == 'no' && me.all_items[q].has_p131 ) return ;

                if ( me.filter_io_sc == 'yes' && !me.all_items[q].has_io_sc ) return ;
                if ( me.filter_io_sc == 'no' && me.all_items[q].has_io_sc ) return ;

                if ( me.filter_coordinates == 'yes' && !me.all_items[q].has_coords ) return ;
                if ( me.filter_coordinates == 'no' && me.all_items[q].has_coords ) return ;

                if ( me.filter_sitelinks == 'yes' && !me.all_items[q].has_sitelinks ) return ;
                if ( me.filter_sitelinks == 'no' && me.all_items[q].has_sitelinks ) return ;

                if ( me.filter_label != '' ) {
                    if ( !me.all_items[q].label_match(me.filter_label) ) return ;
                }

                if ( me.filter_io_sc_select != '' ) {
                    let i = wd.getItem(q) ;
                    if ( typeof i == 'undefined' ) return ;
                    if ( !i.hasClaimItemLink('P31',me.filter_io_sc_select) && !i.hasClaimItemLink('P279',me.filter_io_sc_select) ) return ;
                }

                filtered_items.push(q) ;
            } ) ;
            me.use_items = filtered_items ;
        } ,
        getItemLabel : function ( q ) {
            let i = wd.getItem(q) ;
            if ( typeof i == 'undefined' ) return q ;
            return i.getLabel() + ' [' + q + ']' ;
        } ,
        onFilterChange : function () {
            this.filterItems() ;
        }
    }
} ) ;

</script>
