<template id='main-page-template'>
<div class='container' style='margin-bottom:1rem;'>
	<tool-navbar>
            <template slot='right'>
                <!--<widar></widar>-->
                <div v-if='loading' class="spinner-border" role="status" style='margin:4px 0px 0px 10px;'><span class="sr-only">Loading...</span></div>
                <a href='https://bitbucket.org/magnusmanske/projector/src/master/' target='_blank' title='git' style='margin:4px 0px 0px 10px'>
                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Git-icon-black.svg/28px-Git-icon-black.svg.png' />
                </a>
                <a href='https://www.wikidata.org/wiki/Wikidata:Projector' target='_blank' style='margin:4px 0px 0px 10px'>
                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Torchlight_help_icon.svg/32px-Torchlight_help_icon.svg.png' />
                </a>
            </template>
    </tool-navbar>
    <p v-if='!loading && !loaded' class='lead' tt='intro'></p>
    <div v-if='loading||loaded'>
        <div style='float:right;'>
            <div><a :href='"https://www.wikidata.org/wiki/"+getProjectPage()' class='wikidata' target='_blank' tt='project_page'></a></div>
            <div><a :href='"https://www.wikidata.org/wiki/"+getProjectPage()+"/projector.config"' class='wikidata' target='_blank' tt='configuration_page'></a></div>
            <div v-if="typeof map.getCenter!='undefined'"><a :href='getWikiShootMeURL()' target='_blank'>WikiShootMe</a></div>
        </div>
        <h1><span tt='wikiproject'></span> {{project.replace(/_/g,' ')}}</h1>
    </div>
    <div v-if='loading && !loaded'>
        <i tt='loading'></i>
        <small>
            [
            <span v-for='(state,key) in loading_status' :id='"loading_status_"+key'v-if='state' style='margin-left:0.5rem;'>
                {{key.replace(/_/g,' ')}}
            </span>
            ]
        </small>
        <div class="progress" style='width:20rem;'>
            <div id='wd_progress' class="progress-bar" role="progressbar" style='width:0%'></div>
        </div>
    </div>

    <div v-if='loaded'>
        <ul class="nav nav-tabs" id="listTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="map_tab" data-toggle="tab" href="#tab_map" role="tab"><span tt="map"></span></a>
            </li>
            <li v-for='(list,idx) in item_lists' class="nav-item" v-if='list.length>0'>
                <a class="nav-link" :id="idx+'_tab'" data-toggle="tab" :href="'#'+idx" role="tab"><span :tt="idx"></span> <small>[{{list.length}}]</small></a>
            </li>
            <li v-if='typeof config.mixnmatch!="undefined"' class="nav-item">
                <a class="nav-link" id="mixnmatch_tab" data-toggle="tab" href="#tab_mixnmatch" role="tab"><span tt="mixnmatch"></span></a>
            </li>
        </ul>

        <div class="tab-content" id="listTabContent">
            <div class="tab-pane fade" id="tab_map" role="tabpanel">
                <div id='map' style='width:100%;height:40rem;'></div>
                <div v-if='loaded'>
                    <div tt='map_legend' style='text-align:right;font-size:8pt;'></div>
                    <label>
                        <input type='checkbox' v-model='show_mnm_layer' @change='toggle_show_mnm_layer'>
                        <span tt='show_mnm_layer'></span>
                    </label>
                    <label>
                        <input type='checkbox' v-model='show_areas' @change='toggle_show_areas'>
                        <span tt='show_areas'></span>
                    </label>
                    <label>
                        <input type='checkbox' v-model='editing_map' @change='toggle_map_edit'>
                        <span tt='edit_map'></span>
                    </label>
                    <div v-if='editing_map && typeof area_bounds._southWest!="undefined"'>
                        <pre style='display:inline;'>;area:[[{{area_bounds._northEast.lat}},{{area_bounds._southWest.lng}}],[{{area_bounds._southWest.lat}},{{area_bounds._northEast.lng}}]]</pre>
                        &lArr; <span tt='add_line'></span>
                    </div>
                </div>
            </div>
            <div v-for='(list,idx) in item_lists' class="tab-pane fade" :id="idx" role="tabpanel" v-if='list.length>0'>
                <item-list :items='list' :title='"h3_"+idx' :all_items='items' :settings='settings[idx]'></item-list>
            </div>
            <div v-if='typeof config.mixnmatch!="undefined"' class="tab-pane fade" id="tab_mixnmatch" role="tabpanel">
                <h3 tt='h3_mixnmatch'></h3>
                <table class='table table-striped'>
                    <thead>
                        <th nowrap tt='catalog'></th>
                        <th nowrap tt='total_entries'></th>
                        <th nowrap tt='manual_entries'></th>
                        <th nowrap tt='unmatched_entries'></th>
                    </thead>
                    <tbody>
                        <tr v-for='(data,catalog) in mixnmatch' v-if='data.active==1'>
                            <td>
                                <a :href='"/mix-n-match/#/catalog/"+catalog' target='_blank'>
                                    {{data.name}}
                                </a>
                            </td>
                            <td class='number'>{{data.total}}</td>
                            <td class='number'>{{data.manual}}</td>
                            <td class='number'>{{data.noq}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</template>

<script>
'use strict';

class ItemWrapper {
    constructor(q,type) {
        this.q = q ;
        this.type = type ;
    }

    item() {
        return wd.getItem(this.q);
    }

    coords() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return ;
        let claims = i.getClaimsForProperty("P625");
        if ( claims.length == 0 ) return ;
        if ( typeof claims[0].mainsnak == 'undefined' ) return ;
        if ( typeof claims[0].mainsnak.datavalue == 'undefined' ) return ;
        if ( typeof claims[0].mainsnak.datavalue.value == 'undefined' ) return ;
        return claims[0].mainsnak.datavalue.value ;
    }

    image_url(size) {
        return 'https://commons.wikimedia.org/wiki/Special:Redirect/file/'+encodeURIComponent(this.image)+'?width='+size+'px&height='+size+'px' ;
    }

    label_match ( pattern ) {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return false ;
        if ( typeof i.raw == 'undefined' ) return false ;
        if ( typeof i.raw.labels == 'undefined' ) return false ;
        let ret = false ;
        var patt = new RegExp(pattern,'i');
        $.each ( i.raw.labels , function ( lang , data ) {
            if ( patt.test(data.value) ) ret = true ;
        } ) ;
        return ret ;
    }

    get desc () {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return '' ;
        return i.getDesc(tt.language);
    }

    get thumb_size() {
        return 256 ;
    }

    get image() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return '' ;
        return i.getFirstStringForProperty("P18");
    }

    get has_image() {
        return this.image != '' ;
    }

    get has_p131() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return false ;
        return i.getClaimsForProperty('P131').length > 0 ;
    }

    get has_io_sc() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return false ;
        return i.getClaimsForProperty('P31').length + i.getClaimsForProperty('P279').length > 0 ;
    }

    get has_coords() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return false ;
        return i.getClaimsForProperty('P625').length > 0 ;
    }

    get has_sitelinks() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return false ;
        let sitelinks = i.getWikiLinks() ;
        return Object.keys(sitelinks).length > 0 ;
    }

    get popup_text() {
        let me = this ;
        let ret = "<div style='width:"+(this.thumb_size)+"px'><a class='wikidata' href='https://www.wikidata.org/wiki/"+this.q+"' target='_blank'>"+this.label+"</a><br/>["+this.q+"]" ;
        let i = me.item() ;
        if ( typeof i != 'undefined' ) {
            $.each ( i.getClaimItemsForProperty('P31',true) , function(dummy,q2) {
                let i2 = wd.getItem(q2) ;
                if ( typeof i2 != 'undefined' ) {
                    ret += "<div><i>" + i2.getLabel() + "</i></div>" ;
                }
            } ) ;
        }
        let img = me.image ;
        if ( img != '' ) {
            var url = me.image_url(me.thumb_size) ;
            ret += "<div><clazy-load :src='"+url+"'><img src='"+url+"'></clazy-load></div>" ;
        }
        ret += "</div>" ;
        return ret ;
    }

    get label() {
        let i = this.item() ;
        if ( typeof i == 'undefined' ) return ;
        return i.getLabel();
    }
}

// TODO: taxa
// SELECT ?q { { { ?loc wdt:P131* wd:Q12875675} } .  { ?q wdt:P31 wd:Q16521 ; (wdt:P183|wdt:P5588) ?loc }  }

// TODO: P301/P971

let MainPage = Vue.extend ( {
        props : [ 'project' ] ,
        data : function () { return { 
            loading:false, loaded:false , config:{} , map:{} , editing_map:false , show_areas:false , show_mnm_layer:false , areaSelect:{} , area_bounds:{} , areas:{} ,
            item_lists:{},
            items:{},
            items_to_load:[],
            settings:{},
            mixnmatch:{},
            mnm_layer:{},
        } } ,
        created : function () {
            if ( typeof this.project != 'undefined' ) {
                wd.loading_status_callback = function (loaded,loading) {
                    if ( loading == 0 ) return ;
                    $('#wd_progress').width(parseInt(100*loaded/loading)+'%') ;
                } ;
                this.loadConf();
            }
        } ,
        updated : function () { tt.updateInterface(this.$el) ; } ,
        mounted : function () { tt.updateInterface(this.$el) ; } ,
        methods : {
            getWikiShootMeURL : function () {
                let me = this ;
                if ( typeof me.map.getCenter == 'undefined' ) return ;
                let pos = me.map.getCenter() ;
                return 'https://tools.wmflabs.org/wikishootme/#lat='+pos.lat+'&lng='+pos.lng+'&zoom=11' ;
            } ,
            fix_parameter : function ( s ) {
                s = s.replace(/\{\{(P|Q)\|[PQ]{0,1}(\d+)\}\}/,"$1$2") ;
                return $.trim(s) ;
            } ,
            init : function () {
                let me = this ;
                me.loaded = false ;
                me.loading = true ;
                me.item_lists = { locations:[] , people:[] , things:[] , works:[] } ;
                me.items = {} ;
                me.items_to_load = [] ;
                me.loading_status = { items:true , associated_items:true } ;
                $.each ( me.item_lists , function ( list_key , dummy ) { me.loading_status[list_key] = true } ) ;
                me.settings = {} ;
                $.each ( me.item_lists , function ( list_key , dummy ) { me.settings[list_key] = { key:list_key } } ) ;
                $.each ( ['locations','things','works'] , function(dummy,list_key) {
                    me.settings[list_key].filter_coordinates = true ;
                    me.settings[list_key].show_p31 = true ;
                } ) ;
                me.settings.locations.show_p131 = true ;
                me.settings.people.tabernacle_props = ['P21','P19','P20','P569','P570','P27'] ;
                me.settings.works.tabernacle_props = ['P31','P50'] ;
            } ,
            getProjectPage : function () {
                return 'Wikidata:WikiProject_' + this.project.replace(/ /g,'_') ;
            } ,
            loadConf : function () {
                let me = this ;
                $.get('./api.php',{'action':'log_access','name':me.project},function(d){console.log(d)},'json');
                me.init() ;
                let url = 'https://www.wikidata.org/w/api.php?action=parse&page='+encodeURIComponent(me.getProjectPage()+'/projector.config')+'&prop=wikitext&format=json&callback=?' ;
                $.getJSON ( url , function(d) {
                    let data = {} ;
                    let last_def = '' ;
                    $.each ( d.parse.wikitext['*'].split("\n") , function ( dummy , line ) {
                        let m = line.match(/^;\s*(.+?)\s*:\s*(.+)\s*$/) ;
                        if ( null != m ) {
                            last_def = me.fix_parameter(m[1]) ;
                            if ( typeof data[last_def] == 'undefined' ) data[last_def] = [] ;
                            data[last_def].push( me.fix_parameter(m[2]) ) ;
                            return ;
                        }
                        m = line.match(/^;\s*(.+?)\s*$/) ;
                        if ( null != m ) {
                            last_def = me.fix_parameter(m[1]) ;
                            return ;
                        }
                        m = line.match(/^:\s*(.+?)\s*$/) ;
                        if ( null != m ) {
                            if ( typeof data[last_def] == 'undefined' ) data[last_def] = [] ;
                            data[last_def].push( me.fix_parameter(m[1]) ) ;
                            return ;
                        }
                    } ) ;
                    //console.log(data);
                    me.config = data ;
                    Promise.all ( [
                        new Promise(me.loadLocations),
                        new Promise(me.loadPeople),
                        new Promise(me.loadThings),
                        new Promise(me.loadWorks),
                        new Promise(me.loadMixnmatch),
                    ] ) .then ( () => {
                        $.each ( me.item_lists , function ( list_key , items ) {
                            $.each ( items , function ( dummy , q ) { me.items_to_load.push(q) } ) ;
                            //me.items_to_load = me.items_to_load.concat(items) ;
                        } ) ;
                        wd.getItemBatch(me.items_to_load,function(){
                            Vue.set(me.loading_status,'items',false) ;
                            $('#loading_status_items').remove() ;
                            me.loading_status.items = false ;
                            me.loadPropTargets(['P31','P131','P19','P20','P279','P551','P119','P69'],function() {
                                me.loaded = true ;
                                me.loading = false ;
                                me.updateMap() ;
                            })
                        }) ;
                    } ) ;
                } , 'json' ) ;
            } ,
            getSPARQLcore : function ( var_name ) {
                let me = this ;
                let parts = [] ;
                if ( typeof var_name == 'undefined' ) var_name = 'q' ;
                $.each ( me.config.P131 , function (dummy,q) {
                    parts.push ( "?"+var_name+" wdt:P131* wd:"+q ) ;
                    parts.push ( "?"+var_name+" (wdt:P706|wdt:P276) wd:"+q ) ;
                } ) ;

                $.each ( (me.config.area||[]) , function(dummy,j) {
                    let area = JSON.parse(j) ;
                    if ( typeof area != 'undefined' ) {
                        let sparql = 'SERVICE wikibase:box { ?'+var_name+' wdt:P625 ?location . ' ;
                        sparql += 'bd:serviceParam wikibase:cornerSouthWest "Point('+area[0][1]+' '+area[1][0]+')"^^geo:wktLiteral . ' ;
                        sparql += 'bd:serviceParam wikibase:cornerNorthEast "Point('+area[1][1]+' '+area[0][0]+')"^^geo:wktLiteral }' ;
                        parts.push(sparql) ;
                    }
                } ) ;

                return "{ " + parts.join('} UNION {') + "}" ;
            } ,
            loadMixnmatch : function ( resolve , reject ) {
                let me = this ;
                if ( typeof me.config.mixnmatch == 'undefined' ) return resolve() ;
                if ( me.config.mixnmatch.length == 0 ) return resolve() ;
                $.get ( '/mix-n-match/api.php' , {
                    query:'catalog_overview',
                    catalogs:me.config.mixnmatch.join(',')
                } , function(d){
                    me.mixnmatch = d.data ;
                    resolve() ;
                } , 'json' ) ;
            } ,
            loadGenericSPARQL : function (sparql,list_key,resolve, reject) {
                let me = this ;
                me.settings[list_key].sparql = sparql ;

                Promise.all ( [
                    new Promise(function(resolve, reject) {
                        wd.loadSPARQL ( sparql , function(d) {
                            $.each ( d.results.bindings , function ( dummy , b ) {
                                let q = wd.itemFromBinding(b.q) ;
                                me.items[q] = new ItemWrapper(q,list_key) ;
                            } ) ;
                            resolve();
                        } , function() {
                            alert("Query for "+list_key+" failed");
                            reject() ;
                        } ) ;
                    } )
                ] ) .then ( () => {
                    $.each(me.items,function(q,data){
                        if ( data.type == list_key ) me.item_lists[list_key].push(q) ;
                    });
                    Vue.set(me.loading_status,list_key,false) ;
                    $('#loading_status_'+list_key).remove() ;
                    resolve() ;
                } ) ;

            } ,
            loadThings : function (resolve, reject) {
                let sparql = "SELECT DISTINCT ?q { hint:Query hint:optimizer 'None' . { " + this.getSPARQLcore('loc') + " } .  { ?q (wdt:P138|wdt:P2341|wdt:P740|wdt:P931|wdt:P159) ?loc } }" ;
                this.loadGenericSPARQL ( sparql , 'things' , resolve , reject ) ;
            } ,
            loadWorks : function (resolve, reject) {
                let sparql = "SELECT DISTINCT ?q { hint:Query hint:optimizer 'None' . { " + this.getSPARQLcore('loc') + " } .  { ?q (wdt:P180|wdt:P921|wdt:P840|wdt:P915) ?loc } }" ;
                this.loadGenericSPARQL ( sparql , 'works' , resolve , reject ) ;
            } ,
            loadPeople : function (resolve, reject) {
                let me = this ;
                let parts = [] ;
                $.each ( me.config.P131 , function (dummy,q) {
                    //parts.push ( "?q wdt:P31 wd:Q5 ; (wdt:P19|wdt:P20|wdt:P937|wdt:P551|wdt:P119)/wdt:P131* wd:"+q ) ; 
                    parts.push ( "?q wdt:P1532 wd:"+q ) ; // country for sport
                    parts.push ( "?q wdt:P39 ?sub0 . ?sub0 wdt:P1001 wd:"+q ) ; // position held
                    parts.push ( "?q (wdt:P19|wdt:P20|wdt:P551|wdt:P119|wdt:P69) ?sub1 . ?tree0 (wdt:P150)* ?sub1 . ?tree0 (wdt:P131)* wd:"+q ) // Born/died/worked
                } ) ;
                let sparql = "SELECT DISTINCT ?q { { " + parts.join(" } UNION { ") + " } }" ;
                this.loadGenericSPARQL ( sparql , 'people' , resolve , reject ) ;
            } ,
            loadLocations : function (resolve, reject) {
                let me = this ;
                let parts = [] ;
                $.each ( me.config.P131 , function (dummy,q) {
                    parts.push ( "?q wdt:P131* wd:"+q ) ;
                } ) ;
                let sparql = "SELECT DISTINCT ?q { hint:Query hint:optimizer 'None' . " + me.getSPARQLcore() + " }" ;
                this.loadGenericSPARQL ( sparql , 'locations' , resolve , reject ) ;
            } ,
            loadPropTargets : function ( props , resolve ) {
                let me = this ;
                let items_to_load = [] ;
                $.each ( me.items , function ( q , item ) {
                    //if  ( item.type != list_key ) return ;
                    let i = item.item() ;
                    if ( typeof i == 'undefined' ) return ;
                    $.each ( props , function ( dummy , property ) {
                        $.each ( i.getClaimItemsForProperty(property,true) , function ( k2 , v2 ) {
                            items_to_load.push(v2) ;
                        } ) ;
                    } ) ;
                } ) ;
                wd.getItemBatch(items_to_load,resolve,'labels') ;
            } ,
            updateMap : function () {
                // TODO https://tools.wmflabs.org/mix-n-match/api.php?query=locations&bbox=0.08724689483642578,52.1590855578924,0.1971101760864258,52.18566821401113
                let me = this ;
                if ( $('#map').length == 0 ) {
                    setTimeout ( me.updateMap , 100 ) ;
                    return ;
                }
                $('#listTab li a').get(0).click();
                me.map = L.map('map', {drawControl: false});//.setView([51.505, -0.09], 13);
                L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(me.map);
                me.areas = new L.FeatureGroup();
                $.each ( (me.config.area||[]) , function ( dummy , area ) {
                    let bounds = JSON.parse(area) ;
                    if ( typeof bounds != 'undefined' ) {
                        L.rectangle(bounds, {color: "#ff7800", weight: 1})
                        .bindPopup("<div>Area #"+(dummy+1)+"<br/>"+area+"</div>")
                        .addTo(me.areas);
                    }
                } ) ;
                var markers = new L.FeatureGroup();
                me.map.addLayer(markers);
                $.each(me.items,function(q,item) {
                    if ( item.type != 'locations' ) return;
                    let coords = item.coords() ;
                    if ( typeof coords == 'undefined' ) return;
                    let options = {radius:10,weight:1} ;
                    if ( !item.has_image ) options.color = '#FF4848';
                    if ( !item.has_p131 ) options.weight = 2 ;
                    let marker = L.circleMarker({lat:coords.latitude,lon:coords.longitude},options)
                        .bindPopup(item.popup_text)
                        .addTo(markers) ;
                } ) ;
                me.map.fitBounds(markers.getBounds()); // .pad(0.005)
                me.loadMixnmatchMapEntries() ;
            } ,
            loadMixnmatchMapEntries : function () {
                let me = this ;
                me.mnm_layer = new L.FeatureGroup();
                let bounds = me.map.getBounds() ;
                let bbox = bounds.getWest()+','+bounds.getSouth()+','+bounds.getEast()+','+bounds.getNorth() ;
                $.get ( '/mix-n-match/api.php' , {
                    'query':'locations',
                    'bbox':bbox
                } , function ( d ) {
                    $.each ( d.data , function ( dummy , entry ) {
                        let options = {radius:7,weight:1,color:'#2DC800'} ;
                        let popup_text = "<div><a target='_blank' href='/mix-n-match/#/entry/"+entry.id+"'><b>"+entry.ext_name+"</b></a></div>" ;
                        if ( entry.ext_desc != '' ) popup_text += "<div>"+entry.ext_desc+"</div>" ;
                        popup_text += "<div>Enternal ID: " ;
                        if ( entry.ext_url != '' ) popup_text += "<a class='external' href='"+entry.ext_url+"' target='_blank'>"+entry.id+"</a>" ;
                        else popup_text += entry.id ;
                        popup_text += "</div>" ;
                        if ( typeof entry.q=='undefined' || entry.q == null ) { // No item
                            options.weight = 2 ;
                        } else {
                            popup_text += "<div>Wikidata: <a target='_blank' class='wikidata' href='https://www.wikidata.org/wiki/Q"+entry.q+"'>Q"+entry.q+"</a></div>" ;
                        }

                        let marker = L.circleMarker({lat:entry.lat,lon:entry.lon},options)
                            .bindPopup(popup_text)
                            .addTo(me.mnm_layer) ;
                    } ) ;
                    //me.map.addLayer(me.mnm_layer);
                } , 'json' ) ;
            } ,
            toggle_show_areas : function () {
                let me = this ;
                if ( me.show_areas ) {
                    me.map.addLayer(me.areas);
                } else {
                    me.map.removeLayer(me.areas);
                }
            } ,
            toggle_show_mnm_layer : function () {
                let me = this ;
                if ( me.show_mnm_layer ) {
                    me.map.addLayer(me.mnm_layer);
                } else {
                    me.map.removeLayer(me.mnm_layer);
                }
            } ,
            toggle_map_edit : function () {
                let me = this ;
                if ( me.editing_map ) {
                    me.areaSelect = L.areaSelect({width:200, height:300});
                    me.areaSelect.addTo(me.map);
                    me.areaSelect.on("change", function() {
                        me.area_bounds = this.getBounds() ;
                    });
                    me.area_bounds = me.areaSelect.getBounds() ;
                } else {
                    me.areaSelect.remove();
                }
            }
        },
        template:'#main-page-template'
    } ) ;
</script>
